{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
          <a class="nav-link" href="{% url "task_add" %}">Создание задачи</a>
        </li>
{% endblock %}

{% block content %}

    <h1>Task</h1>


    <br>
    {% for task in tasks %}
        <div class="card text-bg-warning mb-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-status">{{ task.status }}</h3>
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">{{ task.content }}</p>
                <a href="{% url "task_view" task.pk %}" class="card-link">Детальный просмотр задачи</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}