{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "task_add" %}">Создание задачи</a>
    </li>
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="{% url "task_delete_view" task.pk %}">Удалить задачу</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="{% url "task_update_view" task.pk %}">Редактировать задачу</a>#}
{#    </li>#}
{% endblock %}

{% block title %}Детали{% endblock %}

{% block content %}

    <div class="card mb-3 mt-5 py-2" style="max-width: 1040px; border: 3px solid darkblue; background-color: darkcyan">
        <div class="row g-0 px-3">
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title" style="border-bottom: 2px solid darkblue; border-radius: 10px">
                        Название: {{ task.title }}</h1>
                    <p class="card-text" style="font-size: 26px;">Статус: {{ task.status }}</p>
                    {% for type in task.type.all %}
                        <p class="card-text card-text-1 text-uppercase"
                           style="font-size: 24px;">Тип: {{ type.type_name }}</p>
                    {% endfor %}
                    <p class="card-text" style="font-size: 26px;">Подробное
                        описание: {{ task.detailed_description }}</p>
                    <p class="card-text"><small class="text-body-secondary">Дата Создания: {{ task.created_at }}</small>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Дата
                        Обновления: {{ task.updated_at }}</small>
                    </p>
{#                    <a class="card-link pt-3 pt-4 pb-3" href="{% url "task_update_view" task.pk %}"#}
{#                       style="border-top: 3px solid darkblue;border-radius: 10%; background-color: darkcyan">#}
{#                        <button type="submit"#}
{#                                class="btn btm-input btn-outline-warning btn-lg py-2  text-uppercase rounded-0">#}
{#                            Редактирование#}
{#                        </button>#}
{#                    </a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}