{% extends "base_html_my.html" %}
{% block link %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:project_add" %}">Создание Проекта</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:project_delete_view" project.pk %}">Удалить Проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:project_update_view" project.pk %}">Редактировать проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:task_add" project.pk %}">Добавить задачу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:add_user_to_project" project.pk %}"> Добавить к проекту</a>
        </li>
    {% endif %}
{% endblock %}

{% block title %}Детали Проекта{% endblock %}

{% block content %}
    <div class="title_head text-center pt-5 pb-1">

        <h1 class="head-our-works" style="font-size: 80px">₱.℟.Ö.ჟ.Ҿ.₡.</h1>
        <h2>╰────────╮• ✻ •╭────────╯</h2>
        <h3 style="font-size:150px; padding-top: 0px; margin-top: 0px">⭽</h3>
    </div>

    <div class="hbb_container" style="justify-content:center">
        <div class="card mx-auto mb-3 mt-2 py-2"
             style="max-width: 70%; border: 3px solid darkblue; background-color: #ce1565; text-align: center">

            <div class="card-body">
                <h1 class="card-title" style="border-bottom: 2px solid darkblue; border-radius: 10px">
                    Название: {{ project.name }}</h1>
                <p class="card-text" style="font-size: 26px;">Описание: {{ project.description }}</p>

                {% for user in project.user.all %}
                    <p class="card-text" style="font-size: 26px;">Юзеры: {{ user }}</p>
                {% endfor %}

                <p class="card-text"><small class="text-body-secondary">Старт: {{ project.start_date }}</small>
                </p>
                <p class="card-text"><small class="text-body-secondary">Окончание: {{ project.end_date }}</small>
                </p>
                {% if request.user.is_authenticated %}
                    <a class="card-link pt-3 pt-4 pb-3" href="{% url "webapp:project_update_view" project.pk %}"
                       style="border-top: 3px solid darkblue;border-radius: 5%">
                        <button type="submit"
                                class="btn btm-input btn-outline-warning btn-lg py-2  text-uppercase rounded-0">
                            Редактирование
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>






    <div class="title_head text-center pt-5 pb-5">
        <h1 class="head-our-works" style="font-size: 50px">₱.℟.Ö.ჟ.Ҿ.₡.₮'s</h1>
        <h1 class="head-our-works" style="font-size: 35px">₮₳Ꮥ₭ȿ</h1>
        <h2>╰────────╮• ✻ •╭────────╯</h2>
    </div>


    <div class="container text-center">
        <div class="container-our-works pb-5 pt-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for task in tasks %}
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card card-our-works h-100"
                             style="border: 3px solid darkblue; background-color: darkcyan">
                            <div class="card-body ">
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 36px;">{{ task.title }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px;">Статус: {{ task.status }}</p>
                                {% for type in task.type.all %}
                                    <p class="card-text card-text-1 text-uppercase"
                                       style="font-size: 24px;">Тип: {{ type.type_name }}</p>
                                {% endfor %}
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px; border-top: 3px solid darkblue; border-radius: 10%;">{{ task.detailed_description }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px; border-top: 3px solid darkblue; border-radius: 10%;">{{ task.created_at }}</p>
                            </div>
                            <a class="card-link pt-3 pb-3" href="{% url "webapp:task_view" task.pk %}"
                               style="border-top: 3px solid darkblue;border-radius: 10%; background-color: darkcyan">
                                <button type="submit"
                                        class="btn btm-input btn-outline-warning btn-lg py-2  text-uppercase rounded-0">
                                    Детальный просмотр задачи
                                </button>
                            </a>
                            {% if request.user.is_authenticated %}
                                <a class="card-link pt-3 pb-3" href="{% url "webapp:task_update_view" task.pk %}"
                                   style="border-top: 3px solid darkblue;border-radius: 10%; background-color: darkcyan">
                                    <button type="submit"
                                            class="btn btm-input btn-outline-warning btn-md py-2  text-uppercase rounded-0">
                                        Редактирование
                                    </button>
                                </a>
                                <a class="card-link pt-3 pb-3" href="{% url "webapp:task_delete_view" task.pk %}"
                                   style="border-top: 3px solid darkblue;border-radius: 10%; background-color: darkcyan">
                                    <button type="submit"
                                            class="btn btm-input btn-outline-warning btn-md py-2  text-uppercase rounded-0">
                                        Удаление задачи
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="page_footer">
            {% if is_paginated %}
                {% include 'tasks/pagination.html' %}
            {% endif %}
        </div>
    </div>

{% endblock %}